.main-heading_about {
  color: rgb(204, 18, 18);
  font-size: 26px;
  text-align: center;
  margin-top: 3em;
  padding: 2em 0 0.5em;
}
.underline {
  height: 3px;
  width: 7rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-top: 10px;
  margin: 0.5em 46%;
}
.underline1 {
  height: 3px;
  width: 20em;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-top: 10px;
  margin: 0.5em 40%;
}
.back_color {
  background-color: #f2f2f2;
  width: 100%;
}
.container_about p {
  text-align: center;
  font-family: none;
  font-size: 18px;
}
.container_about .btn {
  margin: 1em 46%;
  width: 8em;
  padding: 8px;
  background-color: rgb(255, 225, 0);
  border: 3px;
  border-radius: 3px;
}
.containerAbout .btn:hover {
  cursor: pointer;
}
.grid-container_about {
  display: grid;
  width: 100%;
  column-gap: 1em;
  grid-template-columns: auto auto auto;
}
.grid-container_about h4 {
  text-align: center;
  color: rgb(204, 18, 18);
  margin-top: 2em;
  padding-bottom: 1em;
  font-size: 18px;
}
.images {
  width: 10%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.grid__item {
  background-image: url("img/about.jpg");
  width: 100%;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  transform: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
}
.grid__item:hover {
  cursor: pointer;
}
