table{
  width: 50%;
  border:1px solid black;
  text-align: center;
}

th{
  background-color: grey;
}

h2,h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
  text-align: center;
}

.menu{
  margin-left: 3%;
  margin-right: 3%;
}

.img1{
  position: absolute;
  top: 15%;
  left: 55%;
  width:30%;
  height: 75%;
  border-radius: 10%;
}

@keyframes example {
  
  0%  {color:yellow; left:90%; top:10%;}
  50%  {color:blue; left:90%; top:80%;}
  100%  {color:yellow; left:90%; top:10%;}
}

.txt1{
  position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
