body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
	margin: 0;
	padding: 0;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

html {
    font-size: 85%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	cursor: pointer;
    background-color:rgb(248, 208, 133);
}

.nav-list {
	width: 70%;
	display: flex;
	align-items: center;
  	margin-left: 700px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
  	margin-left: 90px;
}


.logo img {
	width: 180px;
	border-radius: 50px;
  	width: 6rem;
  	height: 6rem;
}

.nav-list li {
	list-style: none;
	padding: 26px 30px;
}

.nav-list li a {
	text-decoration: none;
	color: #000;
	
}

.nav-list li a:hover {
	color: grey;
}

.section {
	height: 200px;
	display: flex;
	align-items: center;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.home {
  height: 100vh;
  background-color: wheat;
}

.home-content {
	margin-left: 100px;
  	display: grid;
  	grid-template-columns: 1.2fr 1.2fr;
}

.inner-content {
  max-width: 70rem;
  margin-top: 14rem;
  text-align: center;
}

.inner-content-img {
  margin-top: 6rem;
}

.inner-content-img img {
  width: 35rem;
  height: auto;
  animation: icon 5s ease infinite;
}

@keyframes icon {
    25% {
        transform: translateY(-1.5rem);
    }
    50% {
        transform: translateY(1.5rem);
    }
}

section h3 {
    font-size: 3rem;
    color: var(black);
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}

section p {
    color: var(black);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}

.footer{
	padding-top:300px;
	text-align: center;
	color:grey;
	padding-bottom:40px;
}

/* @media(max-width:991px) {
    html {
        font-size: 70%;
    }
    header {
        padding: 2rem;
    }
	.nav-list {
		margin-left: 430px;
	}
}


@media(max-width:768px) {

    html {
        font-size: 60%;
    }
	.nav-list {
		margin-left: 90px;
	}

    header {
        padding: 2rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background: var(--clr3);
        font-size: 2rem;
    }
    .navbar a {
        margin: 2rem 2.5rem;
        display: block;
        border-right: .1rem solid var(--clr4);
    }
    .navbar a:hover {
        transform: translateX(2rem);
        transition: 1s ease;
    }
    .navbar.active {
        right: .5rem;
        transition: .4s ease-in;
    }
    .home-content {
        display: inline-block;
    }
    .home .home-content {
        text-align: center;
    }
    .home .inner-content-img img {
        width: 35rem;
		height: 35rem;
    }
}


@media (max-width:450px) {
    html {
        font-size: 90%;
    }
	.nav-list {
		margin-left: 90px;
	}
}

.social i {
    padding: 1rem;
    background: var(--clr4);
    color: var(--clr2);
    font-size: 1.5rem;
}

.social i:hover {
    transform: translateY(-2rem);
    color: var(--clr2);
    cursor: pointer;
    transition: 1s ease;
}
 */
 @media (max-width:1365px) {
    html {
        font-size: 85%;
    }
	.nav-list {
		margin-left: 700px;
	}
}

/* @media (max-width:990px) {
    html {
        font-size: 70%;
    }
    header {
        padding: 2rem;
    }
	.nav-list {
		margin-left: 400px;
	}
} */

@media (max-width:890px) {
    html {
        font-size: 70%;
    }
	.nav-list {
		margin-left: 350px;
	}
}

@media (max-width:640px) {
    html {
        font-size: 60%;
    }
	.nav-list {
		margin-left: 100px;
	}  
    .home-content {
        display: inline-block;
    }
    .home .home-content {
        text-align: center;
    }
    .home .inner-content-img img {
        width: 30rem;
		height: 25rem;
    }
    .logo {
        margin-left: 5px;
    }
    .logo img {
        width: 180px;
        border-radius: 50px;
        width: 5rem;
        height: 5rem;
    }
}
